
.coins-details-container {
	width: 90%;
	margin: 0 auto;
}

.all{
	height: 600px
}

.roomCss{
	position: absolute !important;
	top: -9px;
	height: 52px;
    float: left;
    padding: 10px;
    width: 20%;
}

.chat-option {
	text-align: center;
}

.coin-title {
	float: left;
}

.coin-range {
	float: right;
}

.field{
    width: 240px;
    height: 51px;
}


.coins-details-header {
	padding:20px 0;
	display: inline-block;
    width: 100%;
}
.coins-details {
	clear: both;
}

.min-range, .max-range {
    float: left;
}

.column {
    float: left;
    width: 20%;
    padding: 10px;
}

.hotelName{
	position: absolute;
    width: 230px;
    height: 51px;
    top: 127px;
    border-radius: 0;
}

.book{
    height: 52px;
    position: absolute;
    top: 126px;
    margin-left: -120px;
}

.name{
	position: absolute;
    width: 230px;
    height: 51px;
    top: 127px;
    left: 65px;
    border-radius: 0;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

body {
  font-family: Helvetica, sans-serif;
}

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
    width: 240px;
    height: 52px;
    padding: 10px 20px;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    border: 1px solid #aaa;
    position: absolute;
    top: -10px;
    margin-left: -121px;
    border-radius: 0px;
}

.error{
	 border-color:red;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 51px;
  width: 280px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

.footer {
  margin: 9px 20px;
  font-size: 12px;
  color: #777;
}


.errorText{
    top: 180px;
    position: absolute;
    color: red;
    margin-left: 7px;

}
